<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/zui-ui.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/zui-ui.js"></script>
</head>
<body>
    {% block header %}<h3>hzy的个人web</h3> {% endblock %} 
    {% block body %}<div></div> {% endblock %} 
    {% block footer %}<div>copyright</div> {% endblock %}
</body>

</html>